svg {
  width: 80%;
  height: 80%;
  padding: 1rem;
  background: linear-gradient(black 60%, #000000 100%);
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  margin-top: -50px;

}

.bgDot {
  stroke: none;
  fill: #000000;
}

.clockCircle {
  fill: none;
  stroke: #2a2a2a;
}

.clockArc {
  fill: none;
  stroke: #ffffff; 
}

.clockDot {
  fill: #1bbccb;
}

.caption,
.timeText {
  transform: translateX(-2px); 
}

.dayText,
.dateText{
  transform: translateX(-25px);
}

.caption {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  fill: #f0f0f0;
}

.dayText {
  font-size: 2rem; 
}

.dateText {
  font-size: 1.3rem; 
  font-weight: bold;
}

.timeText {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;   
  font-weight: 200;
  fill: white;
}

@media screen and (max-width: 480px) {
  .color-widget {
      margin-left: 5%;

  }
}
@media screen and (max-width: 768px) {
  .clock-widget {
      margin-left: 0%;
  }
}