.container {
    display: flex;
}

.news_container {
    max-width: 70%;
    width: 60%; /* Reduced from 800px */
    height: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    margin-top: 50px; /* Reduced from 50px */
    padding: 20px; /* Reduced from 20px */
    box-sizing: border-box;
}

.news_header {
    width: 100%;
    height: 20%; /* Reduced from 250px */
    border-radius: 5px;
}

.news_header2 {
    height: 60px; /* Reduced from 80px */
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.header_img {
    width: 10%; /* Reduced from 170px */
    margin-left: 10px;
}
.news_body {
    width: 100%;
    height: 100%;
}
.news_red_text {
    width: 100%;
    height: 50px; /* Reduced from 60px */
    border-bottom: 2px solid black;
    text-align: center;
    align-content: end;
    font-size: 200%; /* Reduced from 45px */
    font-weight: bold;
    color: rgb(127, 6, 6);
}
.news_body_grid {
    display: grid;
    grid-template-columns: repeat(3,33%); /* Reduced from 250px */
    grid-template-rows: repeat(10, 25%); /* Reduced from 250px */
    grid-gap: 5px;
    margin-top: 30px; /* Reduced from 30px */
}

.news_body_grid2 {
    color: black;
    border: 0.1px solid #7a7a7a;
    padding: 5px; /* Added padding for better spacing */
}
.news_body_text1 {
    font-size: 18px; /* Reduced from 18px */
    margin-top: 10px; /* Reduced from 10px */
}

.news_body_text2 {
    font-size: 21px; /* Reduced from 21px */
    font-weight: bold;
    margin-top: 10px; /* Reduced from 10px */
}
@media (max-width: 768px) {
    .news_body_grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .news_body_grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .bbc_img2{
        width: 80%;
        height: 40%;
    }
    .news_red_text{
        font-size: 20px;
    }
    .header_img{
        width: 50px;
    }
    .regis{
        width: 50px;
    }
}