body{
  background-color: rgb(170, 170, 170);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.header{
    width: 80%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color:beige;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 2% 8%;
    margin-right: 15px;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -90px;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
  margin-top: 5%;
  margin-left: 10%;
  width: auto;
  text-align: center;
}

.services{
    display: flex;
}


.icon {
  width: 90px;
  height: 80px;
  border-radius: 10px;
}

.menu-item:hover {
  backdrop-filter: blur(10px);
  background-color: rgb(69, 64, 64);
  border-radius: 10px;
}
@media screen and (max-width: 768px){
    .services{
        display: block;
    }
    .icon {
        width: 25%;
        border-radius: 10px;
    }
}
@media screen and (max-width: 480px){
    .services{
        display: block;
    }
    .icon {
        width: 25%;
        border-radius: 10px;
    }
}

.header-image{
  width: 15%;
  height: auto;
  margin-right: 40%;
}
.services{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 

.clock-container{
  margin: 10px;
  margin-right: 15%;
  margin-top: -25%;
}
.weather-container{
  margin-top: 5%;
  margin-left: 20%;
}