body{
    background-color: rgb(170, 170, 170);
}

.header{
    width: 80%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color:beige;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 2% 8%;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -90px;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.weather-container{
  margin-top: 5%;
}
  
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-decoration: none;
  color: #f0f0f0;
  margin-top: 10%;
  margin-left: 10%;
  width: auto;
}

.icon {
  width: 10%;
  height: 10%;
  border-radius: 10px;
}

.menu-item:hover {
  backdrop-filter: blur(10px);
  background-color: rgb(69, 64, 64);
  border-radius: 10px;
}

.header-image{
  width: 100px;
  height: auto;
  margin-right: 600px;
}

 

  