
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    transform: translateX(-250px);
    display: flex;
    flex-direction: column;
}
.rightSide {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    text-align: right;
    transform: translateX(250px);
}

.sidebar.open {
     transform: translateX(0);
 }

.rightSide.open{
    transform: translateX(0);
}

.sidebar_toggle {
    position: absolute;
    top: 2%;
    left: 4%;
    background-color: #000000;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.8);
}

.sidebar_toggle:hover{
    transform: scale(1.1);
}

.sidebar_toggle_right {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #000000;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.8);
}

.sidebar-content {
    margin-top: 30%;
    padding: 10%;
}
.sidebar-content-right{
    margin-top: 30%;
    margin-left: 50%;
    padding: 10%;
}

.sidebar-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10% 0;
    font-size: 1.5em;
}

.sidebar-link:hover {
    text-decoration: underline;
}

.changeButton{
     width: 100%;
     bottom: 5%;
     margin-top: 30%;
    padding: 10%;
     display: block;
     color: white;
     text-decoration: none;
     font-size: 1.5em;
     background: none;
     text-align: left;
     border: none;
     cursor: pointer;
 }

.changeButtonRight{
    width: 100%;
    bottom: 5%;
    margin-top: 30%;
    padding: 10%;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background: none;
    text-align: right;
    border: none;
    cursor: pointer;

}
@media screen and (max-width: 768px){
    .sidebar{
        width: 150px;
        right: 15px;
    }

    .sidebar-content{
        padding: 10%;
        margin-top: 50%;
    }
}
